@model URLShortener.Models.Link


<div class="container">
    <h1 align="center">Welcome to URL Shortener</h1>
    @if (User.Identity.IsAuthenticated)
    {


        <p>You are logged in. Personalize your URL:</p>

        @using (Html.BeginForm("Personalize", "Home", FormMethod.Post, new { @class = "form-group" }))
        {
            <div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Long, new { @class = "form-control", placeholder = "Paste in link you want to shorten." })
                </div>
                <div>
                    <p>@Html.ValidationMessageFor(x => x.Long, "", new { @class = "text-danger" })</p>
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.Short, new { @class = "form-control", placeholder = "Enter your personalized choice." })
                </div>
            </div>
            <button class="btn btn-primary">Shorten your URL!</button>

        }
    }
    else
    {
        @using (Html.BeginForm("Result", "Home", FormMethod.Post, new { @class = "form-group" }))
        {
            <div class="input-group">
                @Html.TextBoxFor(x => x.Long, new { @class = "form-control", placeholder = "Paste in link you want to shorten." })
                <span class="input-group-btn">
                    <button class="btn btn-primary">Shorten your URL!</button>
                </span>
            </div>
            <p>@Html.ValidationMessageFor(x => x.Long, "", new { @class = "text-danger" })</p>

        }
        <p>You are not logged in.</p>
        <p>Please login to personalize your URL!</p>
    }

</div>

